{% load static %}
<html>
   <head>
      <title>Little Lemon</title>
   </head>
   <body>
      <h1 style="text-align:center;">Welcome To LittleLemon Restaurant</h1>
      <img src="{% static 'img/logo.png' %}">
      <p>
         Reserve your table for an Italian, Greek, and Turkish dining experience.
       </p>

       <h2>Opening Hours</h2>
       <p>
         The Little Lemon Restaurant is open 7 days a week, except for public holidays. 
       </p>
       <ul>
         <li>Mon - Fri: 9am - 10pm</li>
         <li>Sat: 10am - 11pm</li>
         <li>Sun: 1pm - 9pm</li>
       </ul>
      <footer>
         <article>
            <p>Copyright Little Lemon 2024</p>
          </article>
      </footer>
   </body>
</html>